<div class="title">
    <span class="source-link"><a href="{{foundAt}}">`{{file}}:{{line}}`</a></span>
    <h1 class="class-name">{{moduleName}}</h1>
</div>

{{#if uses}}
    Uses:
    {{#each uses}}
        <a href="{{this}}.html">{{this}}</a>
    {{/each}}
    <br>
{{/if}}

{{#if extension_for}}
    Extension For:
    {{#each extension_for}}
        <a href="{{this}}.html">{{this}}</a>
    {{/each}}
    <br>
{{/if}}

{{#if extends}}
    <div class="class-extends">
        <h4>Extends:</h4>
        <div>{{#crossLink extends}}{{/crossLink}} → {{moduleName}}</div>
    </div>
{{/if}}

<div class="class-description">{{{classDescription}}}</div>

{{#if (hasStatic methods)}}
  <h2>Static Method Summary</h2>

  {{#if (hasStaticPublic methods)}}
    <table>
      <thead>
      <tr>
        <th colspan="2">Static Public Methods</th>
      </tr>
      </thead>
      <tbody>
      {{#each methods}}
        {{#if (and (isStatic this) (isPublic this))}}
          {{>method-short}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if (hasStaticProtected methods)}}
    <table>
      <thead>
      <tr>
        <th colspan="2">Static Protected Methods</th>
      </tr>
      </thead>
      <tbody>
      {{#each methods}}
        {{#if (and (isStatic this) (isProtected this))}}
          {{>method-short}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if (hasStaticPrivate methods)}}
    <table>
      <thead>
      <tr>
        <th colspan="2">Static Private Methods</th>
      </tr>
      </thead>
      <tbody>
      {{#each methods}}
        {{#if (and (isStatic this) (isPrivate this))}}
          {{>method-short}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
  {{/if}}
{{/if}}

{{#if (hasNonStatic methods)}}
  <h2>Method Summary</h2>

  {{#if (hasNonStaticPublic methods)}}
    <table>
      <thead>
      <tr>
        <th colspan="2">Public Methods</th>
      </tr>
      </thead>
      <tbody>
      {{#each methods}}
        {{#if (and (isNonStatic this) (isPublic this))}}
          {{>method-short}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if (hasNonStaticProtected methods)}}
    <table>
      <thead>
      <tr>
        <th colspan="2">Protected Methods</th>
      </tr>
      </thead>
      <tbody>
      {{#each methods}}
        {{#if (and (isNonStatic this) (isProtected this))}}
          {{>method-short}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if (hasNonStaticPrivate methods)}}
    <table>
      <thead>
      <tr>
        <th colspan="2">Private Methods</th>
      </tr>
      </thead>
      <tbody>
      {{#each methods}}
        {{#if (and (isNonStatic this) (isPrivate this))}}
          {{>method-short}}
        {{/if}}
      {{/each}}
      </tbody>
    </table>
  {{/if}}
{{/if}}



{{#if is_constructor}}
    {{#each is_constructor}}
{{>method}}
    {{/each}}
{{/if}}



{{#if (hasStaticPublic methods)}}
    <div id="methods public">
        <h2>Static Public Methods</h2>
        {{#each methods}}
            {{#if (and (isStatic this) (isPublic this))}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if (hasStaticProtected methods)}}
    <div id="methods public">
        <h2>Static Protected Methods</h2>
        {{#each methods}}
            {{#if (and (isStatic this) (isProtected this))}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if (hasStaticPrivate methods)}}
    <div id="methods public">
        <h2>Static Private Methods</h2>
        {{#each methods}}
            {{#if (and (isStatic this) (isPrivate this))}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if (hasNonStaticPublic methods)}}
    <div id="methods public">
        <h2>Public Methods</h2>
        {{#each methods}}
            {{#if (and (isNonStatic this) (isPublic this))}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if (hasNonStaticProtected methods)}}
    <div id="methods public">
        <h2>Protected Methods</h2>
        {{#each methods}}
            {{#if (and (isNonStatic this) (isProtected this))}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if (hasNonStaticPrivate methods)}}
    <div id="methods public">
        <h2>Private Methods</h2>
        {{#each methods}}
            {{#if (and (isNonStatic this) (isPrivate this))}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}



{{#if properties}}
    <div id="props">
        <h2>Properties</h2>
        {{#each properties}}
{{>props}}
        {{/each}}
    </div>
{{/if}}

{{#if attrs}}
    <div id="attrs">
        <h2>Attributes</h2>
        {{#each attrs}}
{{>attrs}}
        {{/each}}
    </div>
{{/if}}

{{#if events}}
    <div id="events">
        <h2>Events</h2>
        {{#each events}}
{{>events}}
        {{/each}}
    </div>
{{/if}}
