<div class="title">
    <span class="source-link"><a href="{{foundAt}}">`{{file}}:{{line}}`</a></span>
    <h1 class="class-name">{{moduleName}}</h1>
</div>

{{#if uses}}
    Uses:
    {{#each uses}}
        <a href="{{this}}.html">{{this}}</a>
    {{/each}}
    <br>
{{/if}}

{{#if extension_for}}
    Extension For:
    {{#each extension_for}}
        <a href="{{this}}.html">{{this}}</a>
    {{/each}}
    <br>
{{/if}}

{{#if extends}}
    <div class="class-extends">
        <h4>Extends:</h4>
        <div>{{#crossLink extends}}{{/crossLink}} → {{moduleName}}</div>
    </div>
{{/if}}

<div class="class-description">{{{classDescription}}}</div>

{{#if is_constructor}}
    {{#each is_constructor}}
{{>method}}
    {{/each}}
{{/if}}

{{#if (hasPublic methods)}}
    <div id="methods public">
        <h2>Public Methods</h2>
        {{#each methods}}
            {{#if (isPublic this)}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if (hasProtected methods)}}
    <div id="methods public">
        <h2>Protected Methods</h2>
        {{#each methods}}
            {{#if (isProtected this)}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if (hasPrivate methods)}}
    <div id="methods public">
        <h2>Private Methods</h2>
        {{#each methods}}
            {{#if (isPrivate this)}}
{{>method}}
            {{/if}}
        {{/each}}
    </div>
{{/if}}

{{#if properties}}
    <div id="props">
        <h2>Properties</h2>
        {{#each properties}}
{{>props}}
        {{/each}}
    </div>
{{/if}}

{{#if attrs}}
    <div id="attrs">
        <h2>Attributes</h2>
        {{#each attrs}}
{{>attrs}}
        {{/each}}
    </div>
{{/if}}

{{#if events}}
    <div id="events">
        <h2>Events</h2>
        {{#each events}}
{{>events}}
        {{/each}}
    </div>
{{/if}}
