<tr>
  <td>
    {{ensure-access access}}
    {{#if static}}static{{/if}}
    {{#if final}}final{{/if}}
  </td>
  <td>
    <div class="method-name {{#if deprecated}}deprecated{{/if}}">
      <a href="#method_{{name}}">{{name}}</a>({{paramsList}}){{#if return}}: {{#crossLink return.type}}{{/crossLink}}{{/if}}
    </div>
    <div class="short-description">
      {{{first-paragraph description}}}
    </div>
  </td>
</tr>
