<div class="property item{{#if access}} {{access}}{{/if}}">
  <div id="props_{{name}}" class="title">
    <span class="source-link"><a href="{{foundAt}}">`{{file}}:{{line}}`</a></span>
    <h3 class="{{#if deprecated}}deprecated{{/if}}">
      {{ensure-access access}}
      {{#if static}}static{{/if}}
      {{#if final}}final{{/if}}
      {{name}}{{#if type}}: {{#crossLink type}}{{/crossLink}}{{/if}}
    </h3>
  </div>

  {{#if deprecated}}
    <div class="deprecation-message">
      {{#if deprecationMessage}}
        <p><strong>Deprecated:</strong> {{{deprecationMessage}}}</p>
      {{else}}
        <p><strong>Deprecated:</strong> This property is deprecated.</p>
      {{/if}}
    </div>
  {{/if}}

  <div class="property-description">{{{propertyDescription}}}</div>

  {{#if example}}
    <h4>Example:</h4>
    {{{example}}}
  {{/if}}
</div>
