<div class="logo">
  <a href="{{projectRoot}}index.html">
    <img src="http://ember-cli.com/assets/images/ember-cli-logo-small-dark.png">
  </a>
</div>

<div id="modules" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Modules</h2>
    </div>
    <div class="bd">
        <ul>
            {{#modules}}
                <li><a href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a>
                {{#if submodules}}
                    <ul>
                        {{#submodules}}
                            <li><a href="{{../../../projectRoot}}modules/{{../name}}.html#{{displayName}}">{{displayName}}</a></li>
                        {{/submodules}}
                    </ul>
                {{/if}}
                </li>
            {{/modules}}
        </ul>
    </div>
</div>

<div id="classes" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Classes</h2>
    </div>
    <div class="bd">
        <ul>
            {{#classes}}
                <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
            {{/classes}}
        </ul>
    </div>
</div>

{{#if elements}}
<div id="elements" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Elements</h2>
    </div>
    <div class="bd">
        <ul>
            {{#elements}}
                <li><a href="{{../projectRoot}}elements/{{name}}.html">{{displayName}}</a></li>
            {{/elements}}
        </ul>
    </div>
</div>
{{/if}}

{{#if (or methods is_constructor)}}
<div id="sections" class="sidebox">
  <div class="hd">
    <h2 class="no-toc">{{moduleName}}</h2>
  </div>
  <div class="bd">
    {{#if (hasStatic methods)}}
      <div><a href="#static-method-summary">Static Method Summary</a></div>
    {{/if}}

    {{#if is_constructor}}
      <div><a href="#constructor-summary">Constructor Summary</a></div>
    {{/if}}

    {{#if (hasNonStatic methods)}}
      <div><a href="#method-summary">Method Summary</a></div>
    {{/if}}

    {{#if (hasStaticPublic methods)}}
      <div><a href="#static-public-methods">Static Public Methods</a></div>
      <ul>
        {{#each methods}}
          {{#if (and (isStatic this) (isPublic this))}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if (hasStaticProtected methods)}}
      <div><a href="#static-protected-methods">Static Protected Methods</a></div>
      <ul>
        {{#each methods}}
          {{#if (and (isStatic this) (isProtected this))}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if (hasStaticPrivate methods)}}
      <div><a href="#static-private-methods">Static Private Methods</a></div>
      <ul>
        {{#each methods}}
          {{#if (and (isStatic this) (isPrivate this))}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if (hasPublic is_constructor)}}
      <div><a href="#public-constructors">Public Constructors</a></div>
      <ul>
        {{#each is_constructor}}
          {{#if (isPublic is_constructor)}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if (hasProtected is_constructor)}}
      <div><a href="#protected-constructors">Protected Constructors</a></div>
      <ul>
        {{#each is_constructor}}
          {{#if (isProtected is_constructor)}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if (hasPrivate is_constructor)}}
      <div><a href="#private-constructors">Private Constructors</a></div>
      <ul>
        {{#each is_constructor}}
          {{#if (isPrivate is_constructor)}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if (hasNonStaticPublic methods)}}
      <div><a href="#public-methods">Public Methods</a></div>
      <ul>
        {{#each methods}}
          {{#if (and (isNonStatic this) (isPublic this))}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if (hasNonStaticProtected methods)}}
      <div><a href="#protected-methods">Protected Methods</a></div>
      <ul>
        {{#each methods}}
          {{#if (and (isNonStatic this) (isProtected this))}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if (hasNonStaticPrivate methods)}}
      <div><a href="#private-methods">Private Methods</a></div>
      <ul>
        {{#each methods}}
          {{#if (and (isNonStatic this) (isPrivate this))}}
            <li><a href="#method_{{name}}">{{name}}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
{{/if}}

{{#if events}}
<div id="events-on-page" class="sidebox on-page">
    <div class="hd">
        <h2 class="no-toc">Events On Page</h2>
    </div>
    <div class="bd">
        <ul>
            {{#events}}
                <li><a href="#events_{{name}}">{{name}}</a></li>
            {{/events}}
        </ul>
    </div>
</div>
{{/if}}

{{#if properties}}
<div id="props-on-page" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Props On Page</h2>
    </div>
    <div class="bd">
        <ul>
            {{#properties}}
                <li><a href="#props_{{name}}">{{name}}</a></li>
            {{/properties}}
        </ul>
    </div>
</div>
{{/if}}

{{#if attributes}}
<div id="attrs-on-page" class="sidebox on-page">
    <div class="hd">
        <h2 class="no-toc">Attributes On Page</h2>
    </div>
    <div class="bd">
        <ul>
            {{#attributes}}
                <li><a href="#attrs_{{name}}">{{name}}</a></li>
            {{/attributes}}
        </ul>
    </div>
</div>
{{/if}}

<div class="version-info">
  Version: {{projectVersion}}
</div>

