<div class="logo">
  <a href="{{projectRoot}}index.html">
    {{#if projectLogo}}
      <img src="{{projectLogo}}">
    {{else}}
      {{projectName}}
    {{/if}}
  </a>
</div>

<div id="modules" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Modules</h2>
    </div>
    <div class="bd">
        <ul>
            {{#modules}}
                <li><a href="{{../projectRoot}}modules/{{name}}.html">{{displayName}}</a>
                {{#if submodules}}
                    <ul>
                        {{#submodules}}
                            <li><a href="{{../../../projectRoot}}modules/{{../name}}.html#{{displayName}}">{{displayName}}</a></li>
                        {{/submodules}}
                    </ul>
                {{/if}}
                </li>
            {{/modules}}
        </ul>
    </div>
</div>

<div id="classes" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Classes</h2>
    </div>
    <div class="bd">
        <ul>
            {{#classes}}
                <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
            {{/classes}}
        </ul>
    </div>
</div>

{{#if elements}}
<div id="elements" class="sidebox">
    <div class="hd">
        <h2 class="no-toc">Elements</h2>
    </div>
    <div class="bd">
        <ul>
            {{#elements}}
                <li><a href="{{../projectRoot}}elements/{{name}}.html">{{displayName}}</a></li>
            {{/elements}}
        </ul>
    </div>
</div>
{{/if}}

{{#if (or methods is_constructor properties)}}
<div id="sections" class="sidebox">
  <div class="hd">
    <h2 class="no-toc">{{moduleName}}</h2>
  </div>
  <div class="bd">
    {{#if (filter properties "static")}}
      <div><a href="#static-property-summary">Static Property Summary</a></div>
    {{/if}}

    {{#if (filter methods "static")}}
      <div><a href="#static-method-summary">Static Method Summary</a></div>
    {{/if}}

    {{#if is_constructor}}
      <div><a href="#constructor-summary">Constructor Summary</a></div>
    {{/if}}

    {{#if (filter properties "!static")}}
      <div><a href="#property-summary">Property Summary</a></div>
    {{/if}}

    {{#if (filter methods "!static")}}
      <div><a href="#method-summary">Method Summary</a></div>
    {{/if}}

    {{#if (filter properties "static" "public")}}
      <div><a href="#static-public-properties">Static Public Properties</a></div>
      <ul>
        {{#each (filter properties "static" "public")}}
          <li><a href="#props_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter properties "static" "protected")}}
      <div><a href="#static-protected-properties">Static Protected Properties</a></div>
      <ul>
        {{#each (filter properties "static" "protected")}}
          <li><a href="#props_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter properties "static" "private")}}
      <div><a href="#static-private-properties">Static Private Properties</a></div>
      <ul>
        {{#each (filter properties "static" "private")}}
          <li><a href="#props_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter methods "static" "public")}}
      <div><a href="#static-public-methods">Static Public Methods</a></div>
      <ul>
        {{#each (filter methods "static" "public")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter methods "static" "protected")}}
      <div><a href="#static-protected-methods">Static Protected Methods</a></div>
      <ul>
        {{#each (filter methods "static" "protected")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter methods "static" "private")}}
      <div><a href="#static-private-methods">Static Private Methods</a></div>
      <ul>
        {{#each (filter methods "static" "private")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter is_constructor "public")}}
      <div><a href="#public-constructors">Public Constructors</a></div>
      <ul>
        {{#each (filter is_constructor "public")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter is_constructor "protected")}}
      <div><a href="#protected-constructors">Protected Constructors</a></div>
      <ul>
        {{#each (filter is_constructor "protected")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter is_constructor "private")}}
      <div><a href="#private-constructors">Private Constructors</a></div>
      <ul>
        {{#each (filter is_constructor "private")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter properties "!static" "public")}}
      <div><a href="#public-properties">Public Properties</a></div>
      <ul>
        {{#each (filter properties "!static" "public")}}
          <li><a href="#props_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter properties "!static" "protected")}}
      <div><a href="#protected-properties">Protected Properties</a></div>
      <ul>
        {{#each (filter properties "!static" "protected")}}
          <li><a href="#props_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter properties "!static" "private")}}
      <div><a href="#private-properties">Private Properties</a></div>
      <ul>
        {{#each (filter properties "!static" "private")}}
          <li><a href="#props_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter methods "!static" "public")}}
      <div><a href="#public-methods">Public Methods</a></div>
      <ul>
        {{#each (filter methods "!static" "public")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter methods "!static" "protected")}}
      <div><a href="#protected-methods">Protected Methods</a></div>
      <ul>
        {{#each (filter methods "!static" "protected")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if (filter methods "!static" "private")}}
      <div><a href="#private-methods">Private Methods</a></div>
      <ul>
        {{#each (filter methods "!static" "private")}}
          <li><a href="#method_{{name}}">{{name}}</a></li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
{{/if}}

{{#if events}}
<div id="events-on-page" class="sidebox on-page">
    <div class="hd">
        <h2 class="no-toc">Events On Page</h2>
    </div>
    <div class="bd">
        <ul>
            {{#events}}
                <li><a href="#events_{{name}}">{{name}}</a></li>
            {{/events}}
        </ul>
    </div>
</div>
{{/if}}

{{#if attributes}}
<div id="attrs-on-page" class="sidebox on-page">
    <div class="hd">
        <h2 class="no-toc">Attributes On Page</h2>
    </div>
    <div class="bd">
        <ul>
            {{#attributes}}
                <li><a href="#attrs_{{name}}">{{name}}</a></li>
            {{/attributes}}
        </ul>
    </div>
</div>
{{/if}}

<div class="version-info">
  Version: {{projectVersion}}
</div>

